.teamDiv{
    width: 100%;
    background-color: #1e4f6f;
}
.teamDetails{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 481px) and (max-width: 767px) {
  
    .teamDiv{
        width: 100%;
        flex-direction: row;
    }

    .top-info-div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .bottom-info-div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
  }
  